# Data Science Tools and Ecosystem

## Author 
Andy Wu

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Commonly used libraries used by Data Scientists
- Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow
4. Matplotlib
5. ggplot

Data Science Tools

| Data Science Tools |
| ----- |
| Jupyter Notebook |
| R Studio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [7]:
200 / 60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335